# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Python Distribution
# ==========================
build/
dist/
*.egg-info/
.eggs/
*.egg

# ==========================
# Unit Test / Coverage
# ==========================
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# IDE & Editor
# ==========================
.vscode/
.idea/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Python Cache
# ==========================
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp

# ==========================
# Flask
# ==========================
instance/

# ==========================
# SQLAlchemy / SQLite
# ==========================
*.db
*.sqlite
*.sqlite3

# ==========================
# Secrets / Certificates
# ==========================
*.pem
*.key