<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <img src="{{ url_for('static', filename='Infinity.jpg') }}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
        <a class="navbar-brand" href="/">Infinity Expense Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if 'user_id' in session %}
                    <li class="nav-item">
                        <a class="nav-link " href="/">Home</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="/add_expense">Add Expense</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view_expenses">View Expenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/budgets">Budgets</a>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if 'user_id' in session %}
                    <li class="nav-item">
                        <span class="nav-link">Welcome, {{ session['user_name'] }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('reset_password') }}">Reset Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>